{{> common/header }}
                    
<!-- ---------- -->
                    
    {{#if msg}}
    {{{msg}}}
    {{/if}}
    
    <div class="v-content">
        <h3 class="v-centered-text">Edit Articles</h3>
        {{{links}}}
        <p class="v-right-text">Or <a href="{{info.base_url}}create">Add A New Post</a></p>
        
        <table id="v-manage" class="v-manage table table-sm table-hover table-striped table-dark">
            <thead>
                <tr scope="row">
                    <th class="v-man-editcol" scope="col"></th>
                    <th scope="col">Id</th>
                    <th scope="col"><a href="{{info.base_url}}manage/title/{{#if sort.sort_date}}asc{{else}}{{#if sort.sort_desc}}asc{{else}}desc{{/if}}{{/if}}">Title</a></th>
                    <th scope="col"><a href="{{info.base_url}}manage/date/{{#if sort.sort_title}}desc{{else}}{{#if sort.sort_desc}}asc{{else}}desc{{/if}}{{/if}}">Date</a></th>
                    <th scope="col" title="Description">Desc</th>
                </tr>
            </thead>
            <tbody id="v-manage-rows">
                {{#each body}}
                <tr scope="row">
                    <th class="v-man-editcol" scope="row"><a href="">X</a><a href="{{../info.base_url}}edit/{{this.aid}}">Edit</a></th>
                    <td>{{this.aid}}</td>
                    <td> <a href="{{../info.base_url}}edit/{{this.aid}}">{{this.title}}</a></td>
                    <td class="v-man-datecol">{{this.posted_human}}</td>
                    <td>{{#if this.description}}Yes{{else}}No{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        
    </div>
                    
<!-- ---------- -->

{{> common/footer }}























