<!doctype html>
<html lang="en">
<head>
{{~#if info.title~}}
<title>{{info.title}}</title>
{{~else~}}
<title>Vishus Blog</title>
{{/if~}}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="theme-color" content="#343a40">
<meta name="msapplication-navbutton-color" content="#343a40">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

{{#if body.tags}}<meta name="description" content="{{#each body.tags}}{{this}} {{/each}}">{{/if}}

<link rel="stylesheet" href="{{info.base_url}}assets/css/blogr.1.0.0.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{info.base_url}}assets/css/vishus-theme.1.0.0.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/css.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/rust.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">

<script src="{{info.base_url}}assets/js/blog-before.1.0.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>

</head>
<body style="background-image: url({{info.base_url}}assets/bg/bg-dot-grid3.png);">
<div id="mainWrapper" class="main-wrapper">
<nav class="v-nav-bar sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<a class="blog-logo navbar-brand" href="{{info.base_url}}">Vishus Blog</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="v-nav navbar-nav mr-auto">
    {{~#each info.pages~}}
      {{~#if this.separator~}}
        <li class="v-nav-item nav-item v-divider {{this.classes}}"></li>
      {{~^~}}
        <li class="v-nav-item nav-item {{this.classes}}"><a class="nav-link" href="{{this.url}}">{{{this.name}}}</a></li>
      {{~/if~}}
    {{~/each~}}
    {{~#if info.admin_pages~}}
    <li class="v-nav-item nav-item dropdown">
        <a class="v-nav-login nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{info.dropdown}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{~#each info.admin_pages~}}
          {{~#if this.separator~}}
              {{~#if this.name~}}
              <h6 class="dropdown-header {{{this.classes}}}">{{{this.name}}}</h6>
              {{~else~}}
              <div class="dropdown-divider {{{this.classes}}}"></div>
              {{~/if}}
          {{~else~}}
              <a class="dropdown-item {{{this.classes}}}" href="{{this.url}}">{{{this.name}}}</a>
          {{~/if}}
        {{~/each~}}
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
    </li>
    {{~/if~}}
    <!-- <li class="v-nav-item nav-item"><a class="nav-link disabled" href="#">Disabled</a></li> -->
</ul>
<form id="search-form" action="{{info.base_url}}search" method="get" class="form-inline my-2 my-lg-0">
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" value="{{#if search.q}}{{search.q}}{{/if}}" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
        Search
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</form>
</div>
</nav>
<div id="v-body">
