{{> common/header }}
{{~#if info.msg~}}
    {{{info.msg}}}
{{~/if~}}
<article class="v-article v-article-single" style="background: #212529 url('{{info.base_url}}assets/sphere-trans2.png') no-repeat bottom center fixed;">
    <header class="v-article-header"{{#if body.image}} style="background: url('{{info.base_url}}imgs/{{body.image}}') center center no-repeat;"{{else}} style="background: url('{{info.base_url}}imgs/vishus-1.jpg') center center no-repeat;"{{/if}}>
        <div class="v-article-header-sub">
            <h2 class="v-article-title"><a href="{{info.base_url}}article/{{body.aid}}/{{body.title}}">{{body.title}}</a></h2>
            <div class="row">
                <div class="v-article-date">
                   Created <time datetime="{{body.posted_machine}}">{{body.posted_human}}</time> 
                    {{~#if body.modified_human~}}<br>Last edit <time datetime="{{body.modified_machine}}">{{body.modified_human}}</time>{{/if}}
                </div>
                <div class="v-article-info row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="v-byline"> 
                             by 
                            <a href="{{info.base_url}}author/{{body.userid}}/{{body.username}}" class="v-author-link">{{body.username}}</a>
                        </div>
                    </div>
                    <div class="col v-editlink">
                    {{~#if info.is_admin~}}
                        <!-- <a href="{{info.base_url}}edit/{{body.aid}}">Edit <i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                        <form action="{{info.base_url}}edit/{{body.aid}}" method="GET">
                            <button class="btn btn-warning" type="submit">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </form>
                    {{~/if~}}
                    </div>
                </div>
                <!-- YYYY-MM-DDThh:mm:ssTZD OR PTDHMS -->
            </div>
        </div>
    </header>
    <div class="v-article-content v-toc-body">
    <div id="toc"></div>
    <!-- <div id="toc-body"> -->
        {{{body.body~}}}
        <div class="v-article-tags">
            {{~#if body.tags}}{{#each body.tags}} <a href="{{../info.base_url}}tag/{{this}}">#{{this}}</a> {{/each}}{{/if~}}
        </div>
    <!-- </div> -->
    </div>
</article>
{{> common/footer }}