{{> common/header }}
{{~#if info.msg~}}
    {{{info.msg}}}
{{~/if~}}

<div class="v-content">
    <div class="v-pageinfo">{{{current}}}</div>
    {{{links}}}
</div>
{{~#each body~}}
<article class="v-article" style="background: #212529 url('{{info.base_url}}assets/sphere-trans2.png') no-repeat bottom center fixed;">
    <header class="v-article-header">
        <h2 class="v-article-title"><a href="{{../info.base_url}}article/{{this.aid}}/{{this.title}}">{{this.title}}</a></h2>
        <div class="row">
            <time class="v-article-date" datetime="{{this.posted_machine}}">{{this.posted_human}}</time>
            <div class="v-byline"> 
                 by 
                <a href="{{../info.base_url}}author/{{this.userid}}/{{this.username}}" class="v-author-link">{{this.username}}</a>
            </div>
            <!-- YYYY-MM-DDThh:mm:ssTZD OR PTDHMS -->
        </div>
    </header>
    <p>
        {{{this.body}}}
    </p>
    <div class="v-article-tags">
        {{~#each this.tags}} <a href="{{../../info.base_url}}tag/{{this}}">{{this}}</a> {{/each~}}
    </div>
    <div class="v-full-article v-right-text">
        <a href="{{../info.base_url}}article/{{this.aid}}/{{this.title}}">Full Article</a>
    </div>
</article>
{{~/each~}}

<div class="v-content">
    <!-- <div class="v-pageinfo">{{{current}}}</div> -->
    {{{links}}}
</div>
{{> common/footer }}