{{> common/header }}
                
<!-- ---------- -->
                    <!-- 
                        Add hidden input field for aid
                        Make hidden input field for posted (use posted_machine)
                        Make hidden input field for userid
                     -->
                <div class="v-content" id="v-edit">
                    {{#if msg}}
                        {{{msg}}}
                    {{/if}}
                    <form method="post" action="{{action_url}}" id="insert_form" name="insert_form">
                        <!-- <div class="col-md-7 mx-auto mb-3"> -->
                        
                        <!-- Title -->
                        <div class="col mb-3">
                            <input name="title" type="text" value="{{body.title}}" maxlength="120" class="v-centered-input v-form-control form-control" id="inputTitle" placeholder="Title">
                        </div>
                        
                         <div class="row">
                            <date class="v-article-date" datetime="{{body.posted_machine}}">{{body.posted_human}}</date>
                            <div class="v-byline"> 
                                 by 
                                <a href="{{info.base_url}}author/{{body.userid}}/{{body.username}}" class="v-author-link">{{body.username}}</a>
                            </div>
                            <!-- YYYY-MM-DDThh:mm:ssTZD OR PTDHMS -->
                        </div>
                        
                        <!-- Buttons - Save Reset Preview -->
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="return confirm_action('This will reset the article to the original state, all changes that have been made since saving will be lost.  Are you sure you want to continue?');" type="reset" class="btn btn-danger" value="Reset">Reset</button>
                            </div>
                            <div class="col v-centered-text">
                                    <button id="preview-edit-start" type="button" class="btn btn-success">Preview</button>
                            </div>
                            <div class="col-auto">
                                <button type="submit" id="save-article" class="btn btn-primary">Save Article</button>
                            </div>
                        </div>
                        
                        <!-- Description -->
                        <div class="form-group">
                            <label for="input_desc" class="v-form-label">Description</label>
                            <textarea class="form-control" name="description" id="insert_desc" maxlength="400" rows="2">{{{body.description}}}</textarea>
                            <!-- <input name="description" type="text" class="v-form-control form-control" maxlength="250" id="insert-desc" placeholder="Description"> -->
                        </div>
                        
                        <!-- Body -->
                        <div class="form-group">
                            <label for="input_body" class="v-form-label">Contents</label>
                            <textarea class="form-control" name="markdown" id="insert_body" rows="3">{{{body.markdown}}}</textarea>
                        </div>
                        
                        <!-- Tags -->
                        <div class="col-md-8 mx-auto">
                            <label for="insert-tags" class="v-center-label v-form-label">Tags -Comma Separated</label>
                            <input name="tags" type="text" value="{{#each body.tags}}{{this}},{{/each}}" maxlength="250" class="v-centered-input v-form-control form-control" id="insert-tags" placeholder="Tags">
                            <div class="v-form-message" id="tag-msg">
                                Did you mean to <b>Comma Separate</b> the tags?
                            </div>
                        </div>
                        
                        <!-- Hidden input fields for non-editable fields -->
                        <input type="hidden" name="aid" value="{{body.aid}}">
                        <input type="hidden" name="posted" value="{{body.posted_machine}}">
                        <input type="hidden" name="userid" value="{{body.userid}}">
                        <input type="hidden" name="username" value="{{body.username}}">
                        <!-- The body hidden input field holds the html that javacsript converts from markdown -->
                        <input type="hidden" name="body" id="mdhtml" value="">
                        <!-- <input type="hidden" name="body" id="mdhtml" value="{{body.body}}"> -->
                        
                        <!-- Buttons - Save Reset Preview -->
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="return confirm_action('This will reset the article to the original state, all changes that have been made since saving will be lost.  Are you sure you want to continue?');" type="reset" class="btn btn-danger" value="Reset">Reset</button>
                            </div>
                            <div class="col v-centered-text">
                                    <button id="preview-edit-start2" type="button" class="btn btn-success">Preview</button>
                            </div>
                            <div class="col-auto">
                                <button type="submit" id="save-article2" class="btn btn-primary">Save Article</button>
                            </div>
                        </div>
                        <!-- <div class="v-submit"></div> -->
                    </form>
                    
                    <!-- Non-form (not inside the <form>) hidden fields for JavaScript variables -->
                    <div class="start-hidden">
                        <input type="hidden" id="base_url" value="{{info.base_url}}">
                    </div>
                    
                    <script>
                        StartText();
                    </script>
                    

                </div>
                
                <article id="v-edit-preview" class="start-hidden v-article v-article-signle">
                    <!-- Header -->
                    <header class="v-article-header">
                        <!-- Title -->
                        <h2 class="v-article-title"><a id="prev-title" href="{{info.base_url}}article/{{body.aid}}/{{body.title}}">{{body.title}}</a></h2>
                        <div class="row">
                            <!-- Date -->
                            <date class="v-article-date" datetime="{{body.posted_machine}}">{{body.posted_human}}</date> 
                            <!-- YYYY-MM-DDThh:mm:ssTZD OR PTDHMS -->
                            <div class="v-byline"> 
                                 by 
                                <!-- Author -->
                                <a href="{{info.base_url}}author/{{body.userid}}/{{body.username}}" class="v-author-link">{{body.username}}</a>
                            </div>
                        </div>
                    </header>
                    
                    <!-- Button - End Preview -->
                    <!-- 
                    <div class="v-centered-text">
                        <button id="preview-edit-end" type="button" class="btn btn-success">End Preview</button>
                    </div>
                    -->
                    <div class="row">
                        <div class="col-auto">
                            <button onclick="return confirm_action('This will reset the article to the original state, all changes that have been made since saving will be lost.  Are you sure you want to continue?');" type="reset" class="v-invisible btn btn-danger" value="Reset">Reset</button>
                        </div>
                        <div class="col v-centered-text">
                            <button id="preview-edit-end" type="button" class="btn btn-success">End Preview</button>
                        </div>
                        <div class="col-auto">
                            <button id="preview-save" type="submit" class="btn btn-primary">Save Article</button>
                        </div>
                    </div>
                    
                    <!-- Description -->
                    <div id="prev-desc">
                        {{{body.description}}}
                    </div>
                    
                    <hr class="preview-divider">
                    
                    <!-- Body -->
                    <div id="prev-body">
                        <p>
                            {{{body.body}}}
                        </p>
                    </div>
                    
                    <!-- Tags -->
                    <div id="prev-tags" class="v-article-tags">
                        {{#each body.tags}}
                        <a href="{{../info.base_url}}tag?tag={{this}}">{{this}}</a>
                        {{/each}}
                    </div>
                    
                    <!-- Button - End Preview -->
                    
                    <div class="row">
                        <div class="col-auto">
                            <button onclick="return confirm_action('This will reset the article to the original state, all changes that have been made since saving will be lost.  Are you sure you want to continue?');" type="reset" class="v-invisible btn btn-danger" value="Reset">Reset</button>
                        </div>
                        <div class="col v-centered-text">
                            <button id="preview-edit-end2" type="button" class="btn btn-success">End Preview</button>
                        </div>
                        <div class="col-auto">
                            <button id="preview-save2" type="submit" class="btn btn-primary">Save Article</button>
                        </div>
                    </div>
                       
                    <!--  
                    <div class="v-centered-text">
                        <button id="preview-edit-end2" type="button" class="btn btn-success">End Preview</button>
                    </div>
                    -->
                </article>
                
<!-- ---------- -->
                
{{> common/footer }}