{{> common/header }}
<div class="v-content">
    {{~#if info.msg~}}
        {{{info.msg}}}
    {{~/if~}}
    <form id="needs-validation" action="{{action_url}}" name="login_form" method="post" novalidate>
        <div class="form-group" id="userGroup">
            <label for="usernameField">Username</label>
            <div class="col-md-9 mb-3">
                <input type="text" name="username" value="{{#if tried_user}}{{tried_user}}{{/if}}" class="form-control" id="usernameField" aria-describedby="idHelp" placeholder="Username" required>
                <div class="invalid-feedback">
                    Please specify a username
                </div>
            </div>
            <!-- <small id="idHelp" class="form-text text-muted">Your email address will not be shared with anyone else.</small> -->
        </div>
        <div class="form-group" id="passGroup">
            <label for="passwordField">Password</label>
            <div class="col-md-9 mb-3">
                <input type="password" name="password" class="form-control" id="passwordField" placeholder="Password" required>
                <div class="invalid-feedback">
                    A password is requierd.
                </div>
                <input type="password" id="passwordHidden" class="hidden-pass form-control">
            </div>
        </div>
        {{~#each fields~}}
            <input type="hidden" name="{{@key}}" value="{{this}}">
        {{~/each~}}
        <div class="v-submit">
            <button type="submit" class="btn btn-primary" id="submit-button-id">Login</button>
        </div>
    </form>
</div>
{{> common/footer }}