{{> common/header }}
<div class="v-content">
{{~#if info.msg~}}
    {{{info.msg}}}
{{~/if~}}

<h3 class="v-centered-text">Edit Articles</h3>

{{{links}}}
<div class="row">
    <div class="v-am-sortbar col">
            Sort By: 
            <a href="{{info.base_url}}manage/title/{{#if sort.sort_date}}asc{{else}}{{#if sort.sort_desc}}asc{{else}}desc{{/if}}{{/if}}">
                <i class="v-icon-title fa fa-header" aria-hidden="true"></i>&nbsp;
                {{~#if sort.sort_date~}}
                    Title
                    <i class="v-icon-sort v-icon-sort-title fa fa-sort-desc" aria-hidden="true"></i>
                {{~else~}}
                    {{~#if sort.sort_desc~}}
                        Title
                        <i class="v-icon-sort v-icon-sort-title fa fa-sort-desc" aria-hidden="true"></i>
                    {{~else~}}
                        Title
                        <i class="v-icon-sort v-icon-sort-title fa fa-sort-asc" aria-hidden="true"></i>
                    {{~/if~}}
                {{~/if~}}
            </a>
            or
            <a href="{{info.base_url}}manage/date/{{#if sort.sort_title}}desc{{else}}{{#if sort.sort_desc}}asc{{else}}desc{{/if}}{{/if}}">
                <i class="v-icon-date fa fa-calendar" aria-hidden="true"></i>&nbsp;
                {{~#if sort.sort_title~}}
                    Date
                    <i class="v-icon-sort v-icon-sort-date fa fa-sort-asc" aria-hidden="true"></i>
                {{~else~}}
                    {{~#if sort.sort_desc~}}
                        Date
                        <i class="v-icon-sort v-icon-sort-date fa fa-sort-desc" aria-hidden="true"></i>
                    {{~else~}}
                        Date
                        <i class="v-icon-sort v-icon-sort-date fa fa-sort-asc" aria-hidden="true"></i>
                    {{~/if~}}
                {{~/if~}}
            </a>
    </div>
    <div class="col v-right-text">
        <div class="row">
            <div class="col">
                <a href="{{info.base_url}}create">
                    <i id="v-am-add" class="fa fa-plus-circle" aria-hidden="true"></i>
                    Add A New Post
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{info.base_url}}backup">
                    <i class="v-am-db fa fa-database" aria-hidden="true"></i>
                    Database Backup
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{info.base_url}}pageviews">
                    <i class="v-icon-stats fa fa-bar-chart" aria-hidden="true"></i>
                    Page Hits
                </a>
            </div>
        </div>
    </div>
</div>
<div class="v-am-table">
    <ul id="v-am-list" class="v-am-list">
        
        {{~#each body~}}
        <li class="v-am-item container">
            <div class="v-am-item-top row">
                <a href="{{../info.base_url}}edit/{{this.aid}}" class="v-am-itemlink">
                    {{this.title}}
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>
            <div class="v-am-item-bottom row">
                <div class="v-am-item-viewlink col-md-auto">
                    <a href="{{../info.base_url}}article/{{this.aid}}/{{this.title}}" data-toggle="tooltip" data-html="false" title="View Article" class="v-am-item-viewlink-a" target="_blank">
                        View
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <span data-toggle="tooltip" data-html="false" title="Article ID">{{this.aid}}</span>
                </div>
                <div class="v-am-item-author col-md-4" data-toggle="tooltip" data-html="false" title="Author">
                    <i class="v-icon-author fa fa-user-circle" aria-hidden="true"></i>
                    {{this.username}}
                </div>
                <div class="v-am-item-posted col-md-4" data-toggle="tooltip" data-html="false" title="Created On">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{this.posted_human}}
                </div>
                <div class="v-am-item-description{{#if this.description}} v-has-desc{{/if}} col-auto">
                    <i class="fa fa-newspaper-o" aria-hidden="true" data-toggle="tooltip" data-html="true" title="{{#if this.description}}<span style='color: #5bff5b;'>Has Description</span>{{else}}<span style='color: #f00;'>No Description</span>{{/if}}"></i>
                    <!-- Desc -->
                </div>
                <div class="v-am-item-detele col-auto">
                    <a onclick="return confirm_action('Delete this article?');" href="{{../info.base_url}}delete/{{this.aid}}">
                        <i class="fa fa-trash-o" aria-hidden="false" data-toggle="tooltip" data-html="false" title="Delete"></i>
                    </a>
                </div>
                {{~#if this.tags~}}
                <div class="v-am-divider"><hr class="v-am-item-tag-divider"></div>
                <div class="v-am-item-tags row">
                    {{~#each this.tags~}}
                    <span class="v-am-item-tag col-auto">{{this}}</span>
                    {{~/each~}}
                </div>
                {{~/if~}}
            </div>
        </li>
        {{~/each~}}
        
    </ul>
</div>
{{{links}}}
</div>
{{> common/footer }}























