{{> common/header }}
<div class="v-content">
    {{~#if info.msg~}}
        {{{info.msg}}}
    {{~/if~}}
    
    <div class="v-article-tags v-all-tags">
        <ul>
    {{~#if tags~}}
    {{~#each tags~}}
        {{~#if this.tag}}<li class="v-tag-size-{{this.size}}"><a href="{{../info.base_url}}/tag/{{this.url}}">#{{this.tag}} ({{this.count}})</a></li>{{/if~}}
    {{~/each~}}
    {{/if}}
        </ul>
    </div>
</div>
{{> common/footer }}